.vscode/settings.json
/*/__pycache__/
.vscode/launch.json
.vscode/tasks.json

# C# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
net6.0/
# build folder is nowadays used for build scripts and should not be ignored
#build/

# C# NuGet Packages
*.nupkg
day_11/.vscode/settings.json
